{% extends "../layout.html" %}

{% block body %}
<div class = "theme">
	<h2>ブレストのテーマ： {{ room.theme }}</h2>
</div>
<script>
	jQuery(function() {
		jQuery('#ui-draggable').draggable({
			containment : 'parent',
			scroll : false,
		});
	}); 
</script>
<div class="board-outline">
	<div id="board">
		<div id="board-doodles"></div>
	</div>
</div>
<div id="chat_div" class="chat"></div>
<br>
<br>

<div class="buttons">
	<div style="max-width:30%; min-width:150px; margin: 0 auto;">
	<i id="create-card" class="fa fa-plus-circle fa-2x bottom-icon" style="color: #ffffff"></i>
	<i id="smallify" class="fa fa-expand fa-2x bottom-icon" style="color: #ffffff"></i>
	<a href="{{ reverse_url('groups') }}"><i class="fa fa-power-off fa-2x bottom-icon" style="color: #ffffff; float: right;"></i></a>
	</div>
</div>

<!--
<p><a href="#" class="btn" id="A">chatを隠せるボタン</p>
<script>
$(".btn").on("click", function() {
$("#chat_div").chatbox("toggleContent");
});
</script>
-->

{% end %}