{% extends "../base.html" %}
{% block search_bar %}
<div class="left">
    <form method="get" action="{{ reverse_url('rooms', group.id) }}">
        {% module xsrf_form_html() %}
        <div class="input-field">
            <input type="search" id="room_name_search" name="room_name" class="field" required maxlength="" placeholder="部屋名">
            <label for="room_name_search"><i class="mdi-action-search black-text"></i></label>
            <i class="mdi-navigation-close close"></i>
        </div>
    </form>
</div>
{% end %}



{% block content %}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 grey lighten-3">
                <h3>部屋とは？</h3>
                <p>特定のメンバーでブレストを行うことができます。</p>
                <!-- Modal Trigger -->
                <a class="right waves-effect waves-light btn modal-trigger" href="#room_modal">部屋の作成</a>
            </div>
        </div>
    </div>

    <script>
      $('#room_modal1').openModal();
    </script>

    <!-- Modal Structure -->
    <div id="room_modal" class="modal">
        <div class="modal-content">
            <h4>部屋の作成</h4>
            <form method="post" action="{{ reverse_url('rooms', group.id) }}">
                {% module xsrf_form_html() %}
                <div class="row">
                    <div class="input-field col s12">
                        <input id="room_name" type="text" name="name" required="" class="validate">
                        <label for="room_name">部屋名</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="room_description" type="text" name="description" required="" class="validate">
                        <label for="room_description">一言説明</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-green btn" type="submit">作成</button>
                    <button class="modal-action modal-close waves-effect waves-green btn-flat" type="reset">キャンセル</button>
                </div>
            </form>
        </div>
    </div>


    <div class="row grey lighten-3">
        <h3>部屋一覧</h3>
        {% for i, room in enumerate(rooms) %}
        {% if i % 3 == 0 %}<div class="row col s12">{% end %}
            <div class="col s12 m4">
                <div class="card white lighten-2 hoverable">
                    <div class="card-content black-text">
                        <a href="{{ reverse_url('room', group.id, room.id) }}" class="card-title black-text">{{ room.name }}</a>
                        <p>部屋の一言説明</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ reverse_url('room_edit', group.id, room.id) }}">編集</a>
                        <a href="{{ reverse_url('room_delete', group.id, room.id) }}">削除</a>
                    </div>
                </div>
            </div>
        {% if i % 3 == 2 or i == len(rooms) - 1 %}</div>{% end %}
        {% end %}
    </div>
</div>
{% end %}