{% extends "../layout.html" %}

{% block body %}
<h2>ブレストのテーマ： {{ room.theme }}</h2>
<div id="member_div", class="member"></div>

<div class="count-user"></div>
<div class="board-outline">
  <div id="board">
    <div id="board-doodles"></div>
  </div>
</div>
<li><a href="{{ reverse_url('groups') }}">Groups</a></li>
<div class="buttons">
    <i id="create-card" class="fa fa-plus-circle fa-2x bottom-icon"></i>
    <i id="smallify" class="fa fa-expand fa-2x bottom-icon"></i>
</div>
<br>
<div id="movable_div" style="position: absolute">
	<div id="chat_div" class="chat"></div>
</div>

<!--
<p><a href="#" class="btn" id="A">chatを隠せるボタン</p>
<script>
        $(".btn").on("click", function() {
           $("#chat_div").chatbox("toggleContent");
        });
</script>
-->

{% end %}