{% extends "../base.html" %}
{% block content %}
<script>
    $(document).on("click", ".alert", function(e) {
        bootbox.dialog({
            title: "部屋の作成",
            message: '<div class="row">  ' +
                '<div class="col-md-12"> ' +
                '<form class="form-horizontal" name="form1" id="form1" method="post" action="{{ reverse_url('rooms', group.id) }}"> ' +
                '{% module xsrf_form_html() %} ' +
                '<div class="form-group"> ' +
                '<label class="col-md-4 control-label" for="name">部屋名</label> ' +
                '<div class="col-md-4"> ' +
                '<input id="name" name="name" type="text" placeholder="Room name" class="form-control input-md"> ' +
                '</div> ' +
                '</div> ' +
                '</form> </div>  </div>',
            buttons: {
                success: {
                    label: "Save",
                    className: "btn-success",
                    callback: function () {
                    $('#form1').submit();
                        var name = $('#name').val();
                        var answer = $("input[name='awesomeness']:checked").val()
                    }
                }
            }
        }
    );
    });
</script>


<div class="container">
    <div class="well row">
        <div class="col-md-5">
            <h3>部屋とは？</h3>
            <p>特定のメンバーでブレストを行うことができます。</p>
        </div>
        <div class="col-md-7">
            <button class="btn btn-primary alert" type="submit">部屋の作成</button>
        </div>
    </div>




    <form class="col-md-6" role="form" method="get" action="{{ reverse_url('rooms', group.id) }}">
        {% module xsrf_form_html() %}
        <h2>部屋名検索</h2>
        <div class="input-group">
            <input type="text" name="room_name" class="form-control" placeholder="検索キーワードを入力" required="" autofocus="" autocomplete="off">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">検索</button>
            </span>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>部屋名</th>
            <th>編集</th>
            <th>削除</th>
        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
        <tr>
            <td><a href="{{ reverse_url('room', group.id, room.id) }}">{{ room.name }}</a></td>
            <td>
                <a href="{{ reverse_url('room_edit', group.id, room.id) }}"><button class="btn btn-primary" type="submit">編集</button></a>
            </td>
            <td>
                <script>
                    $(document).on("click", ".alert{{ room.id}}", function(e) {
                        bootbox.dialog({
                            title: "削除確認",
                            message: '<div class="row">  ' +
                                '<div class="col-md-12"> ' +
                                '本当に削除しますか？' +
                                '<form class="form-horizontal" name="form{{room.id}}" id="form{{room.id}}" method="post" action="{{ reverse_url('room_delete', group.id, room.id) }}"> ' +
                                '{% module xsrf_form_html() %} ' +
                                '</form></div></div>',
                            buttons: {
                                success: {
                                    label: "削除",
                                    className: "btn-danger",
                                    callback: function () {
                                    $('#form{{room.id}}').submit();
                                    }
                                }
                            }
                        }
                    );
                    });
                </script>
                <button class="btn btn-danger alert{{room.id}}" type="submit">削除</button>
            </td>
        </tr>
        {% end %}
        </tbody>
    </table>

    <div id="lobibox-notification-examples">
        <div class="bs-example">
            <button id="basicInfo" class="btn btn-info">Info</button>
            <button id="basicWarning" class="btn btn-warning">Warning</button>
            <button id="basicError" class="btn btn-danger">Error</button>
            <button id="basicSuccess" class="btn btn-success">Success</button>
        </div>
    </div>

</div>


<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="{{ static_url('js/lobibox.min.js') }}"></script>
<script src="{{ static_url('js/demo.js') }}"></script>

{% end %}