{% extends "../base.html" %}
{% block content %}
<div class="container">
    <div class="section">
        <a class="waves-effect waves-light btn modal-trigger white-text" href="{{ reverse_url('group_user', group.id) }}">メンバー</a>
        <a class="waves-effect waves-light btn modal-trigger white-text" href="{{ reverse_url('rooms', group.id) }}">　部屋　</a>
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="card white lighten-2 hoverable">
            <div class="card-content black-text">
                <p>グループ名: <a href="{{ reverse_url('group', group.id) }}" class="card-title black-text">{{ group.name }}</a></p>
                <p>グループの一言説明: {{ group.description }}</p>
                <p>参加者　{{ len(group.users) }}人</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn modal-trigger white-text" href="#group_edit">編集</a>
                <a class="waves-effect waves-light btn modal-trigger white-text red darken-4" href="#group_delete">削除</a>
            </div>
        </div>
    </div>

    {% from forms.forms import GroupForm %}
    {% module EditModal(id='group_edit', name='group', title='グループ', url=reverse_url('group_edit', group.id), Form=GroupForm, model=group) %}

    {% module DeleteModal(name='group', title='グループ', url=reverse_url('group_delete', group.id), target=group.name) %}
    {% block sub_content %}
    {% end %}
</div>
{% end %}