{% extends "group.html" %}
{% block search_bar %}
<div class="left">
    <form method="get" action="{{ reverse_url('search_new_members', group.id) }}">
        {% module xsrf_form_html() %}
        <div class="input-field">
            <input type="search" id="newuser_name_search" name="username" class="field" required maxlength="" placeholder="ユーザ名">
            <label for="newuser_name_search"><i class="mdi-action-search black-text"></i></label>
            <i class="mdi-navigation-close close"></i>
        </div>
    </form>
</div>
{% end %}
{% block sub_content %}
<div class="section">
    <table class="bordered hoverable">
        <thead>
        <tr><th>ユーザ名</th><th>メールアドレス</th><th>招待</th></tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td><a href="{{ reverse_url('user', user.id) }}">{{ user.name }}</a></td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>
                <form method="post" action="{{ reverse_url('search_new_members', group.id) }}">
                    {% module xsrf_form_html() %}
                    <!--<div class="form-group">-->
                    <input type="hidden" name="uid" class="form-control" value="{{ user.id }}">
                    <button class="btn btn-primary" type="submit">招待する</button>
                    <!--</div>-->
                </form>
            </td>
        </tr>
        {% end %}
        </tbody>
    </table>
</div>
{% end %}