{% extends "group.html" %}
{% block search_bar %}
    {% module SearchBar(name='user', url=reverse_url('search_new_members', group.id), placeholder='ユーザ名') %}
{% end %}

{% block sub_content %}
<div class="section">
    <table class="bordered hoverable">
        <thead>
        <tr><th>ユーザ名</th><th>メールアドレス</th><th>招待</th></tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ reverse_url('user', user.id) }}">{{ user.name }}</a></td>
                <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                <td>
                    <form method="post" action="{{ reverse_url('search_new_members', group.id) }}">
                        {% module xsrf_form_html() %}
                        <input type="hidden" name="uid" class="form-control" value="{{ user.id }}">
                        <button class="btn btn-primary" type="submit">招待する</button>
                    </form>
                </td>
            </tr>
        {% end %}
        </tbody>
    </table>
</div>
{% end %}