<div id="{{ id }}" class="modal">
    <div class="modal-content">
        <h4>{{ title }}の編集</h4>
        <form method="post" action="{{ url }}">
            {% module xsrf_form_html() %}
            {% for field in form %}
            <div class="row">
                <div class="input-field col s12">
                    {% raw field %}
                    {% raw field.label %}
                </div>
            </div>
            {% end %}
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-green btn" type="submit">更新</button>
                <button class="modal-action modal-close waves-effect waves-green btn-flat" type="reset">キャンセル</button>
            </div>
        </form>
    </div>
</div>