<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Daily Report{% end %}</title>
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/site.css') }}">
</head>
<body id="{% block body-id %}body{% end %}">
{% block top-nav-wrapper %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ reverse_url('index') }}">Daily Reports</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% comment ユーザが認証されていたら %}
                {% if current_user != None %}
                <li>
                    <a href="{{ reverse_url('groups', 1) }}">Groups</a>
                </li>
                <li>
                    <a href="{{ reverse_url('users', 1) }}">Users</a>
                </li>
                <li>
                    <a href="{{ reverse_url('search', 1) }}">Search</a>
                </li>
                {% end %}
                {% comment 認証されていたときの処理 %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% comment ユーザが認証されていたら %}
                {% if current_user != None %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">test{% comment {{ user.username }} %}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ reverse_url('logout') }}">Logout</a></li>
                        {% comment <li><a href="{{ reverse_url('logout) }}">Profile</a></li> %}
                        <!--<li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>-->
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ reverse_url('signup') }}">Signup</a></li>
                <li><a href="{{ reverse_url('login') }}">Login</a></li>
                {% end %}
                {% comment ゆーザが認証されていなかったら %}

                {% comment %}
            </ul>

        </div>
    </div>
</div>
{% end %}
{% block content %}{% end %}
<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
</body>
</html>