<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Brain Hacker</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ static_url('css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ static_url('css/material_style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <style type="text/css">
        <!--
        main {
        display: block;
        }

        header, main, footer {
        padding-left: 240px;
        }

        .parallax-demo header, .parallax-demo main, .parallax-demo footer {
        padding-left: 0;
        }


        @media only screen and (max-width : 992px) {
        header, main, footer {
        padding-left: 0;
        }
        }
        -->
    </style>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/component.css') }}" />
		<script src="{{ static_url('js/modernizr.custom.js') }}"></script>
		<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
		<script src="{{ static_url('js/classie.js') }}"></script>
</head>

<body>

{% if current_user %}
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="{{ reverse_url('user', current_user['id']) }}">Profile</a></li>
    <li class="divider"></li>
    <li><a href="{{ reverse_url('logout') }}">Logout</a></li>
</ul>
{% end %}



<header>
    <nav class="white" role="navigation">
        <div class="nav-wrapper">

            <ul class="right">
                {% if current_user %}
                <li><a id="showRight">Chat<i class="material-icons right">chat</i></a></li>
                <li><a href="{{ reverse_url('groups') }}">Groups</a></li>
                <li><a href="{{ reverse_url('users') }}">Users</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ current_user['name'] }}<i class="material-icons right">arrow_drop_down</i></a></li>

                {% else %}
                <li><a href="{{ reverse_url('login') }}">Login</a></li>
                {% end %}
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <ul id="nav-mobile" class="side-nav fixed blue-grey darken-3">
        <ul class="row">
            <li class="center col s12 m4 white-text"><i class="material-icons">input</i><br/><span>付箋</span></li>
            <li class="center col s12 m4 white-text"><i class="material-icons">android</i><br/><span>AI</span></li>
            <li class="center col s12 m4 white-text"><i class="material-icons">visibility</i><br/><span>Capture</span></li>
        </ul>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea white" placeholder="ここにアイディアを入力する"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <li class="bold white-text"><i class="material-icons left">label</i>White</li><br/>
        <li class="bold yellow-text"><i class="material-icons left">label</i>Yellow</li><br/>
        <li class="bold blue-text"><i class="material-icons left">label</i>Blue</li><br/>
        <li class="bold green-text"><i class="material-icons left">label</i>Green</li><br/>
        <li class="bold"><a href="about.html" class="waves-effect waves-teal white-text">About</a></li>
        <li class="bold"><a href="showcase.html" class="waves-effect waves-teal white-text">Showcase</a></li>
    </ul>
</header>


<main class="grey lighten-4">
    <h3 style="margin-left:10px;">ブレインストーミングのテーマ配置予定場所</h3>
    <div class="boundary-wrapper grey darken-2" style="padding:1px;margin:10px;">
        <div class="boundary white" style="height:500px;margin:5px;">
        </div>
    </div>
    <div class="row">
        <div class="col s9">
            ブレインストーミングのボード配置予定場所
        </div>
        <div class="col s3">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
            <h3 class="teal white-text">Chat</h3>
            <a href="#">Celery seakale</a>
            <a href="#">Dulse daikon</a>
            <a href="#">Zucchini garlic</a>
            <a href="#">Catsear azuki bean</a>
        </nav>
        </div>
    </div>

    <script>
        var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
            showRight = document.getElementById( 'showRight' ),
            body = document.body;

        showRight.onclick = function() {
            classie.toggle( this, 'active' );
            classie.toggle( menuRight, 'cbp-spmenu-open' );
            disableOther( 'showRight' );
        };
    </script>
</main>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ static_url('js/materialize.js') }}"></script>
<script src="{{ static_url('js/init.js') }}"></script>
</body>
</html>
