{% extends "base.html" %}
<style type="text/css">
    main {
    display: block;
    }

header, main, footer {
  padding-left: 240px; }

.parallax-demo header, .parallax-demo main, .parallax-demo footer {
  padding-left: 0; }

footer.example {
  padding-left: 0; }

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0; } }
</style>
{% block content %}

<header>
  <div class="container">
      <a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="mdi-navigation-menu"></i></a>
  </div>
  <ul id="nav-mobile" class="side-nav fixed">
      <div class="row icon-container">
          <div class="center col s12 m4"><i class="medium material-icons">input</i><span>Input</span></div>
          <div class="center col s12 m4"><i class="medium material-icons">android</i><span>AI</span></div>
          <div class="center col s12 m4"><i class="medium material-icons">visibility</i><span>Capture</span></div>
      </div>
    <li class="bold"><a href="about.html" class="waves-effect waves-teal">About</a></li>
    <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Getting Started</a></li>
    <li class="bold"><a href="http://materializecss.com/mobile.html" class="waves-effect waves-teal">Mobile</a></li>
    <li class="bold"><a href="showcase.html" class="waves-effect waves-teal">Showcase</a></li>
  </ul>
</header>

<main>
    <div class="container">
        Hello World!
    </div>
</main>

{% end %}