{% extends "base.html" %}

{% block content %}

<div class="container">
    <form class="col-md-6" role="form" method="get" action="{{ reverse_url('users') }}">
        {% module xsrf_form_html() %}
        <h2>ユーザ名検索</h2>
        <div class="input-group">
            <input type="text" name="username" class="form-control" placeholder="検索キーワードを入力" required="" autofocus="" autocomplete="off">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">検索する</button>
            </span>
        </div>
    </form>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>ユーザ名</th>
            <th>メールアドレス</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td><a href="{{ reverse_url('user', user.id) }}">{{ user.name }}</a></td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        </tr>
        {% end %}
        </tbody>
    </table>
</div>
{% end %}