{% extends "../base.html" %}

{% block content %}
<div class="container">
    <div class="section">
        {% if error_message %}
            <h3 class="red-text">{{ error_message }}</h3>
        {% end %}
        <div class="row">
            <form class="col s12" method="post" action="{{ reverse_url('signup') }}">
                {% module xsrf_form_html() %}
                <h4>Brain Hacker へ登録</h4>
                {% for field in form %}
                    <div class="row">
                        <div class="input-field col s12">
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <p class="red-text">{% raw error %}</p>
                                {% end %}
                            {% end %}
                            {% raw field %}
                            {% raw field.label %}
                        </div>
                    </div>
                {% end %}
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons">send</i>
                </button>
            </form>
        </div>
    </div>
</div>
{% end %}