{% extends "../base.html" %}
{% block search_bar %}
    {% module SearchBar(name='user', url=reverse_url('users'), placeholder='ユーザ名') %}
{% end %}
{% block content %}

<div class="container">
    <div class="section">
        <div class="row grey lighten-3">
            <div class="col s12">
                <h3>ユーザ一覧</h3>
            </div>
            {% for i, user in enumerate(users) %}
            {% if i % 3 == 0 %}<div class="row col s12">{% end %}
                <div class="col s12 m4">
                    <div class="card white lighten-2 hoverable">
                        <div class="card-content black-text">
                            <a href="{{ reverse_url('user', user.id) }}" class="card-title blue-text">{{ user.name }}</a>
                            <div class="divider"></div>
                            <p>ユーザの一言</p>
                            <p>メールアドレス: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                        </div>
                        <!--
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                        -->
                    </div>
                </div>
            {% if i % 3 == 2 or i == len(users) - 1 %}</div>{% end %}
            {% end %}
        </div>
    </div>
</div>
{% end %}