{% if current_user %}
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="{{ reverse_url('user', current_user['id']) }}">Profile</a></li>
    <li class="divider"></li>
    <li><a href="{{ reverse_url('logout') }}">Logout</a></li>
</ul>
{% end %}

<header>
    <nav class="white" role="navigation">
        <div class="nav-wrapper">
            <a id="logo-container" href="{{ reverse_url('index') }}" class="brand-logo">Brain Hacker</a>
            <ul class="right">
                {% if current_user %}
                <li><a id="showRight">Chat<i class="material-icons right">chat</i></a></li>
                <li><a href="{{ reverse_url('groups') }}">Groups</a></li>
                <li><a href="{{ reverse_url('users') }}">Users</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ current_user['name'] }}<i class="material-icons right">arrow_drop_down</i></a></li>

                {% else %}
                <li><a href="{{ reverse_url('login') }}">Login</a></li>
                {% end %}
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <ul id="nav-mobile" class="side-nav fixed blue-grey darken-3">
        <ul class="row">
            <li class="center col s12 m4 white-text my-idea-switch"><i class="material-icons">input</i><br/><span>MyIdea</span></li>
            <li class="center col s12 m4 white-text ai-switch"><i class="material-icons">android</i><br/><span class="ai-state">AI OFF</span></li>
            <li id="board-screen-shot" class="center col s12 m4 white-text"><i class="material-icons">visibility</i><br/><span>Capture</span></li>
        </ul>

        <div class="row">
            <form class="col s12">
                <!--<div class="row">
                    <div class="input-field col s12">-->
                        <textarea id="idea-input" class="materialize-textarea black-text" placeholder="ここにアイディアを入力する"></textarea>
                    <!--</div>
                </div>-->
            </form>
        </div>

        <div class="divider"></div>
        <h5 class="white-text">色の選択</h5>
        <li class="valign-wrapper sticky-colour" colour="pink lighten-2" code="#f06292">
            <i class="material-icons pink-text text-lighten-2">label</i><span class="valign colour white-text">Pink</span>
        </li>
        <li class="valign-wrapper sticky-colour selected" colour="grey" code="#9e9e9e">
            <i class="material-icons grey-text">label</i><span class="valign colour white-text">Grey</span>
        </li>
        <li class="valign-wrapper sticky-colour" colour="yellow" code="#ffeb3b">
            <i class="material-icons yellow-text">label</i><span class="valign colour white-text">Yellow</span>
        </li>
        <li class="valign-wrapper sticky-colour" colour="blue lighten-2" code="#64b5f6">
            <i class="material-icons blue-text text-lighten-2">label</i><span class="valign colour white-text">Blue</span>
        </li>
        <li class="valign-wrapper sticky-colour" colour="green lighten-2" code="#81c784">
            <i class="material-icons green-text text-lighten-2">label</i><span class="valign colour white-text">Green</span>
        </li><br/>

        <div class="divider"></div>
        <li class="count-user white-text"></li>
        <ul id="member_div" class="member"></ul>
        <div class="divider"></div>
        <h5 class="white-text">ズームレベル</h5>
        <div class="center-align">
            <input type="range" min="0.3" max="1.5" step="0.11" oninput="showVal(this.value)" onchange="showVal(this.value)" style="width:200px;">
        </div>
    </ul>
</header>