{% if current_user %}
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="{{ reverse_url('user', current_user['id']) }}">Profile</a></li>
    <li class="divider"></li>
    <li><a href="{{ reverse_url('logout') }}">Logout</a></li>
</ul>
{% end %}

<header>
    <nav class="white" role="navigation">
        <div class="nav-wrapper">

            <ul class="right">
                {% if current_user %}
                <li><a id="showRight">Chat<i class="material-icons right">chat</i></a></li>
                <li><a href="{{ reverse_url('groups') }}">Groups</a></li>
                <li><a href="{{ reverse_url('users') }}">Users</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ current_user['name'] }}<i class="material-icons right">arrow_drop_down</i></a></li>

                {% else %}
                <li><a href="{{ reverse_url('login') }}">Login</a></li>
                {% end %}
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <ul id="nav-mobile" class="side-nav fixed blue-grey darken-3">
        <ul class="row">
            <li class="center col s12 m4 white-text"><i class="material-icons">input</i><br/><span>付箋</span></li>
            <li class="center col s12 m4 white-text"><i class="material-icons">android</i><br/><span>AI</span></li>
            <li id="board-screen-shot" class="center col s12 m4 white-text"><i class="material-icons">visibility</i><br/><span>Capture</span></li>
        </ul>

        <div class="row">
            <form class="col s12">
                <!--<div class="row">
                    <div class="input-field col s12">-->
                        <textarea id="idea-input" class="materialize-textarea white-text" placeholder="ここにアイディアを入力する"></textarea>
                    <!--</div>
                </div>-->
            </form>
        </div>

        <div class="divider"></div>
        <h5 class="white-text">色の選択</h5>
        <li class="valign-wrapper sticky-colour" colour="red">
            <i class="material-icons red-text">label</i><span class="valign colour white-text">Red</span>
        </li>
        <li class="valign-wrapper sticky-colour selected" colour="grey">
            <i class="material-icons grey-text">label</i><span class="valign colour white-text">Grey</span>
        </li>
        <li class="valign-wrapper sticky-colour" colour="yellow">
            <i class="material-icons yellow-text">label</i><span class="valign colour white-text">Yellow</span>
        </li>
        <li class="valign-wrapper sticky-colour" colour="blue">
            <i class="material-icons blue-text">label</i><span class="valign colour white-text">Blue</span>
        </li>
        <li class="valign-wrapper sticky-colour" colour="green">
            <i class="material-icons green-text">label</i><span class="valign colour white-text">Green</span>
        </li><br/>

        <div class="divider"></div>
        <li class="count-user white-text"></li>
        <!--<li class="white-text">参加者：</li>-->
        <ul id="member_div" class="member"></ul>
    </ul>
</header>